.urlSection{
    position: relative;
    margin-bottom: 4vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #232B93;
}

.url{
    border-radius: 20vh;
    height: 7vh;
    width: 130vh;
    font-size: 3vh;
    text-align: left;
    padding-left: 3vh;
    background-color: #d4d0f3;
}

.links{
    color: white;
}

.shortenedSection{
    color: #d4d0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shortened{
    height: 7vh;
    width: 40vh;
    font-size: 3vh;
    border-radius: 5vh;
    text-align: center;
    padding-left: 3vh;
    cursor: pointer;
}

.copyIcon{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3vh;
    width: 5vh;
    margin-left: 2vh;
    color: black;
    cursor: pointer;
}

.clipboard{
    position: relative;
}

.titleSection{
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleLabel{
    color: White;
    font-size: 5vh;
    margin-bottom: 1vh;
}

.descriptionLabel{
    color: white;
    font-size: 2.5vh;
    font-weight: 200;
}

.jobLabel{
    font-size: 2vh;
    color: white;
    font-weight: 100;
    margin-top: 4vh;
}