.urlSection{
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #232B93;
}

.url{
    border-radius: 20vh;
    height: 7vh;
    width: 130vh;
    font-size: 5vh;
    padding-left: 3vh;
    background-color: #d4d0f3;
}